{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header" }>
    <h1>Log Workout</h1>
</div>
<form method="POST">
    <div class="container" id="workoutInfo">
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.date) }} 
        {{ wtf.form_field(form.notes, rows="4") }}
    </div>
    <hr> 
    <div class="container" data-toggle="exerciseContainer">
        {% for exercise in form.exercises %}
            <!-- Exercises  -->
            <div data-toggle="entryContainer" data-index="{{ loop.index0 }}">
                {{ wtf.form_field(exercise.exname) }}
                <ul class="list-group">
                    {% for entry in exercise.entries %}
                        <!-- Entries -->
                        <li class="list-group-item" data-index="{{ loop.index0 }}">
                            <div class="form-inline">
                                {{ entry.weight.label(class="control-label") }} {{ entry.weight(class="form-control") }} 
                                {{ entry.reps.label(class="control-label") }} {{ entry.reps(class="form-control") }} 
                                {{ entry.sets.label(class="control-label") }} {{ entry.sets(class="form-control") }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn btn-primary" data-toggle="addEntry">Add set</button>
                <button type="button" class="btn btn-primary" data-toggle="removeEntry" >Remove last set</button>
                <hr> 
            </div>
        {% endfor %}
        <button type="button" class="btn btn-primary" data-toggle="addExercise">Add exercise</button>
        <button type="button" class="btn btn-primary" data-toggle="removeExercise">Remove last exercise</button>
    </div>
    <hr>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.submit) }}
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='dynamicForm.js') }}"></script>
{% endblock %}